<style>
    .mail {
        background-color: {{bgColor|default('#000')}}
		;
		color: {{textColor|default('#fff')}}
		;
    }
	.title {
		margin: 0;
		width: 60%;
		padding: 15px;
	}

	.borderContent {
		

		margin: auto;
		width: 60%;
		padding: 15px;
	}

	.content {

		background-color: #fff;
		color: #000;
		padding: 15px;
	}

	hr {
		border-color: {{bgColor|default('#000')}}
		;
	}
</style>
<div class="mail">
	<div class="borderContent">
		<h1 class="title">
			{% if logo is defined and logo %}
				<img src="{{ path(logo) }}" width="64px;"/>
			{% endif %}
			{{ title|default('Title') }}
		</h1>
		<div class="content">
			{{ content|default('Content')|raw }}
			<hr/>
			{{ signature|default('Signature')|raw }}
		</div>
		{# <img src="cid:attachement_1" width="600px"/> #}
	</div>
</div>
