{% extends "base.html.twig" %}
{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h1>
					<i class="fa fa-plus"></i>
					Add mail modele</h1>
			</div>
		</div>
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base">Base config</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" data-bs-target="#html">HTML Format</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" data-bs-target="#text">Text Format</a>
			</li>
			{% if form.priority is defined or form.replyTo is defined %}
			<li class="nav-item">
				<a class="nav-link" data-bs-toggle="tab" data-bs-target="#options">Options</a>
			</li>
			{% endif %}
		</ul>
		{{  form_start(form) }}
		<div class="tab-content mb-3">
			<div class="tab-pane fade show active border-bottom border-start border-end p-3" id="base" role="tabpanel">
				<div class="row">
					{% if form.template is defined %}
						<div class="col-12 col-md-6">
							{{  form_row(form.template) }}
						</div>
					{% endif %}
					<div class="col-12 col-md-6">
						{{  form_row(form.subject) }}
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6">
						{{  form_row(form.senderName) }}	
					</div>
					{% if form.template is defined %}
						<div class="col-12 col-md-6">
							{{  form_row(form.sender) }}
						</div>
					{% endif %}
				</div>
				<div class="row">
					<div class="col-12">
						{{  form_row(form.logo) }}
					</div>
				</div>
			</div>
			<div class="tab-pane fade border-bottom border-start border-end p-3" id="html" role="tabpanel">
				<div class="row">
					<div class="col-12">
						{{  form_row(form.title) }}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						{{  form_row(form.content) }}
					</div>
					<div class="col-12">
						{{  form_row(form.signature) }}
					</div>
				</div>
			</div>
			<div class="tab-pane fade border-bottom border-start border-end p-3" id="text" role="tabpanel">
				<div class="row">
					<div class="col-12">
						{{  form_row(form.text)}}
					</div>
				</div>
			</div>
			{% if form.priority is defined or form.replyTo is defined %}
				<div class="tab-pane fade border-bottom border-start border-end p-3" id="options" role="tabpanel">
					<div class="row">
						{% if form.priority is defined %}
							<div class="col-12 col-md-6">
								{{ form_row(form.priority) }}
							</div>
						{% endif %}
						{% if form.replyTo is defined %}
							<div class="col-12 col-md-6">
								{{ form_row(form.replyTo) }}
							</div>
						{% endif %}
					</div>
				</div>
			{% endif %}
		</div>


		<div class="row">
			<div class="col-12 text-center">
				<button class="btn btn-success" type="submit">
					<i class="fa fa-save"></i>
					Record</button>
			</div>
		</div>
		{{  form_end(form) }}
	</div>
{% endblock %}
